/* Adjust navigation icon for smaller screens */
nav .fa-solid {
  display: none;
}

@media only screen and (max-width: 600px) {
  nav .fa-solid {
    display: block;
    font-size: 25px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }
}

/* Modify header text for better readability on smaller screens */
.header-text {
  margin-top: 20%;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .header-text {
    margin-top: 50%;
    font-size: 18px;
  }
}

/* Add transition effect for navigation menu */
nav ul {
  background: #1161b1;
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100vh;
  padding-top: 50px;
  z-index: 2;
  transition: right 0.5s; /* Added transition effect */
}

@media only screen and (max-width: 600px) {
  nav ul {
    right: 0; /* Adjust position for smaller screens */
  }
}

/* Ensure contact form inputs resize appropriately */
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

/* Adjust footer text for smaller screens */
@media only screen and (max-width: 600px) {
  .copyright {
    font-size: 14px;
  }
}
